.login-wrapper .login-page-bg {
  position: fixed;
  background-image: url(https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.login-wrapper .login-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.login-wrapper .login-box {
  position: fixed;
  z-index: 5;
  margin: 130px auto;
  max-width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-wrapper .login-box .login-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #ffff;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 113px;
  letter-spacing: 0.02em;
  text-align: left;
}
.login-wrapper .login-box .form .form-field {
  margin-bottom: 20px;
  position: relative;
}
.login-wrapper .login-box .form .form-field input {
  box-sizing: border-box;
  background-color: #505050;
  width: 100%;
  padding: 20px 0 20px 14px;
  border: none;
  border-radius: 10px;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
}
.login-wrapper .login-box .form .form-field input::placeholder {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffff;
}
.login-wrapper .login-box .form .form-field.error::after {
  content: 'Fill this field';
  position: absolute;
  left: 0;
  color: red;
  font-size: 13px;
  bottom: -20px;
}
.login-wrapper .login-box .actions .form-link {
  display: block;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  font-size: 18px;
  line-height: 28px;
  color: white;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-wrapper .login-box .actions .btn {
  background-color: #A55EEA;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.login-wrapper .login-box .err-msg {
  color: red;
  margin-top: 10px;
  font-size: 13px;
}
