.login-wrapper .bg {
  position: fixed;
  background-color: #9ba4b4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.login-wrapper .login-box {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  margin: 50px auto;
  max-width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.login-wrapper .login-box .login-title {
  font-size: 25px;
  margin-bottom: 20px;
}
.login-wrapper .login-box .form .form-field {
  margin-bottom: 20px;
  position: relative;
}
.login-wrapper .login-box .form .form-field input {
  font-size: 14px;
  padding: 10px 0;
  border: none;
  border-bottom: solid 1px;
  background-color: transparent;
  width: 100%;
}
.login-wrapper .login-box .form .form-field.error::after {
  content: 'Fill this field';
  position: absolute;
  left: 0;
  color: red;
  font-size: 13px;
  bottom: -20px;
}
.login-wrapper .login-box .actions {
  display: flex;
  justify-content: space-between;
}
.login-wrapper .login-box .actions a {
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
}
.login-wrapper .login-box .actions .btn {
  background-color: #214252;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}
.login-wrapper .login-box .err-msg {
  color: red;
  margin-top: 10px;
  font-size: 13px;
}
