.mobile-menu-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  transition: all 0.3s ease;
  visibility: hidden;
}
.mobile-menu-box .mobile-menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
}
.mobile-menu-box .mobile-menu-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  z-index: 2;
  background-color: #fff;
}
.menu-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-align: left;
  margin: 75px 0 37px;
}
.mobile-menu-page .mobile-menu-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  user-select: none;
  padding: 0 20px;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-header .mobile-menu-info {
  text-align: left;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-header .mobile-menu-info .mobile-menu-discription {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #959595;
  margin: 50px 0 40px;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-actions {
  margin-top: 50px;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-actions .mobile-menu-btn {
  background-color: #353B48;
  border-radius: 3px;
  padding: 18px 28px 17px 28px;
  color: white;
  cursor: pointer;
  position: absolute;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-actions .mobile-menu-btn span:before {
  content: url('/img/vector.svg');
  padding-right: 8px;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo {
  display: flex;
  flex-direction: column;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo .menu-demo-box .demo-box {
  margin: 60px 0 60px;
  display: flex;
  align-items: center;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo .menu-demo-box .demo-box span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-right: 87px;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo .menu-demo-box .demo-box .open-menu-btn {
  background-color: #353B48;
  border-radius: 3px;
  padding: 18px 28px 17px 28px;
  color: white;
  cursor: pointer;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo .menu-demo-box .demo-box p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
}
.mobile-menu-page .mobile-menu-wrapper .mobile-menu-demo .menu-demo-box .demo-box i {
  padding: 0 0 10px 10px;
  font-size: 30px;
  transform-origin: 0% 50%;
  animation: line 3s  ease infinite;
}
@keyframes line {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
