.portfolio-page-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  font-family: 'Saira Extra Condensed', sans-serif;
  user-select: none;
}
.portfolio-page-wrapper .section-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #2B2B2B;
  position: fixed;
}
.portfolio-page-wrapper .section-header .header {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-page-wrapper .section-header .header .socials .tg-logo:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
.portfolio-page-wrapper .section-header .header .socials .fb-logo {
  margin: 19px 16px 20px;
}
.portfolio-page-wrapper .section-header .header .socials .fb-logo:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
.portfolio-page-wrapper .section-header .header .socials .in-logo:hover img {
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
.portfolio-page-wrapper .section-works {
  margin: 60px 0;
  width: 100%;
  right: 0;
  left: 0;
}
.portfolio-page-wrapper .section-works .works-container .section-title {
  display: flex;
  justify-content: space-between;
}
.portfolio-page-wrapper .section-works .works-container .section-title .works-title {
  display: flex;
  justify-content: space-between;
}
.portfolio-page-wrapper .section-works .works-container .section-title .works-title h2 {
  margin: 11px 0 0 23px;
  color: #2B2B2B;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
}
.portfolio-page-wrapper .section-works .works-container .section-title .works-title h5 {
  margin: 31px 16px 14px;
  color: #A5A5A5;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close {
  display: inline-block;
  padding: 10px 23px 20px;
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 81px;
  right: 13px;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close:before,
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close:after {
  content: '';
  display: inline-block;
  height: 20px;
  width: 5px;
  position: relative;
  background-color: #000000;
  transition: 300ms ease-in-out;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close:before {
  transform: rotate(-45deg);
  left: 1px;
  top: 4px;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close:after {
  transform: rotate(45deg);
  left: 7px;
  top: 4px;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close.open:before {
  left: 5px;
  top: 4px;
  background-color: #FFFFFF;
}
.portfolio-page-wrapper .section-works .works-container .section-title .arrow-down-close.open:after {
  left: 1px;
  top: 4px;
  background-color: #FFFFFF;
}
.portfolio-page-wrapper .section-works .works-container .section-title .drop-down-about {
  display: inline-block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  right: 23px;
  top: 80px;
  transition: all 0.3s ease-in-out;
}
.portfolio-page-wrapper .section-works .works-container .section-title .drop-down-about.open {
  background-color: #2B2B2B;
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
.portfolio-page-wrapper .section-works .works-container .section-title .drop-down-about .about-me {
  display: inline-block;
  margin: 34px 25px 35px 32px;
}
.portfolio-page-wrapper .section-works .works-container .section-title .drop-down-about .about-me .am-title {
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.portfolio-page-wrapper .section-works .works-container .section-title .drop-down-about .about-me .am-subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section {
  margin: 0 16px 0;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card {
  display: block;
  margin: 7px;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card:hover {
  border-style: solid;
  border-width: 1.6px;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px 70px 71px;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-title h3 {
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-align: center;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .github-button {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  border: solid 1.6px;
  border-radius: 5px;
  padding: 9px 20px 10px 21px;
  margin: 17px 7px 0;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .github-button span {
  padding-right: 5px;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .github-button:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .card-button {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
  border: solid 1.6px;
  border-radius: 5px;
  padding: 9px 28px;
  margin: 17px 7px 0;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .card-button span img {
  height: 12px;
  margin: 0 6px 0;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .card-btns .card-button:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .divices {
  display: flex;
  justify-content: center;
  margin: 26px 0 0;
}
.portfolio-page-wrapper .section-works .works-container .promo-card-section .portfolio-card .info-card-area .divices img {
  margin: 0 6px 0;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}
