.ticket-box .promo-container .promo-ticket-wrapper {
  position: absolute;
  margin: 100px auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e8e8e8;
  max-width: 1000px;
  user-select: none;
}
.ticket-box .promo-container .promo-ticket-wrapper .discription {
  display: flex;
}
.ticket-box .promo-container .promo-ticket-wrapper .discription .poster {
  margin: 15px 20px 0 ;
}
.ticket-box .promo-container .promo-ticket-wrapper .discription table {
  border-collapse: collapse;
  text-align: left;
  margin-top: 15px;
}
.ticket-box .promo-container .promo-ticket-wrapper .discription table td {
  padding: 0 10px 30px;
}
.ticket-box .promo-container .promo-ticket-wrapper .about-movie {
  padding: 20px 150px 20px 20px;
  border-bottom: solid 1px;
  box-sizing: border-box;
}
.ticket-box .promo-container .promo-ticket-wrapper .about-movie .movie-discription {
  word-wrap: break-word;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme .screen {
  margin: 50px;
  text-align: center;
  width: 500px;
  height: 20px;
  border-top: solid 2px;
  display: inline-block;
  border-radius: 100%;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme .screen::before {
  content: "screen";
  font-size: 20px;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme table {
  border-collapse: collapse;
  margin: 0 30px 30px 30px;
  width: 500px;
  height: 300px;
  cursor: pointer;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme table tbody {
  border-style: solid;
  text-align: center;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme table tbody .place {
  border-style: solid;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme table tbody .place:hover {
  background-color: #7e7e7e;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme table tbody .place.active {
  background-color: #7e7e7e;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme .buy-ticket-btn {
  background-color: #03c4a1;
  text-align: center;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 150px;
}
.ticket-box .promo-container .promo-ticket-wrapper .hall-scheme .buy-ticket-btn:hover {
  opacity: 0.7;
}
