.ticket-page .ticket-page-bg {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.ticket-page .ticket-page-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.ticket-page .ticket-page-bg .ticket-page-overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 4px;
  z-index: 15;
}
.ticket-page .session-info-box {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ticket-page .session-info-box .movies-info {
  margin: 100px auto;
  max-width: 1200px;
  padding: 0 15px;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper {
  display: flex;
  justify-content: flex-start;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper .session-poster {
  display: inline-block;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper .session-poster img {
  width: 350px;
  height: 525px;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper .session-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 25px;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper .session-info div > p {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.ticket-page .session-info-box .movies-info .movie-poster-wrapper .session-info .movie-title > p {
  font-size: 48px;
}
.ticket-page .session-info-box .movies-info .movie-discription {
  margin: 56px 0;
}
.ticket-page .session-info-box .movies-info .movie-discription p {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.ticket-page .session-info-box .movies-info .places-box {
  background: #282828;
  text-align: center;
  padding: 44px;
  border-radius: 10px;
}
.ticket-page .session-info-box .movies-info .places-box .screen {
  display: inline-block;
  padding: 30px 440px;
  text-align: center;
  margin-bottom: 97px;
  background: #505050;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row .row-number {
  font-size: 30px;
  position: absolute;
  left: 190px;
  color: white;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row .place {
  margin: 15px 20px 15px;
  display: block;
  height: 50px;
  width: 50px;
  background: #A55EEA;
  border-radius: 50%;
  cursor: pointer;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row .place .place-number {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: transparent;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row .place .place-number.active {
  color: #FFFFFF;
}
.ticket-page .session-info-box .movies-info .places-box .places-scheme .row .place.isReserved {
  background: #4CD137;
}
.ticket-page .session-info-box .movies-info .place-info-box {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}
.ticket-page .session-info-box .movies-info .place-info-box .place-status {
  border-radius: 10px;
  display: inline-block;
  background: #282828;
  padding: 31px 38px 31px 55px;
}
.ticket-page .session-info-box .movies-info .place-info-box .place-status .color-anotation {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.ticket-page .session-info-box .movies-info .place-info-box .place-status .color-anotation .round {
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: 0 37px 0;
}
.ticket-page .session-info-box .movies-info .place-info-box .place-status .color-anotation h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: white;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets {
  display: inline-block;
  background: #282828;
  width: 54%;
  padding: 38px 45px 18px;
  border-radius: 10px;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets .basket-box .basket-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
  line-height: 38px;
  letter-spacing: 0.02em;
  border-bottom: solid 3px #505050;
  margin: 0 0 88px;
  padding-bottom: 12px;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets .basket-box .total-summ {
  display: flex;
  justify-content: space-between;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets .basket-box .total-summ .summ-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: white;
  line-height: 38px;
  letter-spacing: 0.02em;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets .basket-box .total-summ .buy-btn {
  background: #4CD137;
  padding: 12px 82px;
  border: none;
  border-radius: 10px;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.2s;
}
.ticket-page .session-info-box .movies-info .place-info-box .bought-tickets .basket-box .total-summ .buy-btn:hover {
  opacity: 0.7;
}

